{#
|
| Footer
|---------
#}

<footer>
	<div class="footer py-md">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 ta-c logo-container">
					<a href="{{site.link}}">
						<img src="{{ theme.link }}/web/src/img/logo/logo.png" alt="{{site.title}}">
					</a>
					<p class="title-sm ta-c">Midsummer Night</p>
					<p class="ta-c mt-sm mb-xs">
						<span class="fb">
							
						</span>
						<span class="insta">
							
						</span>
					</p>

				</div>
				<div class="col-lg-3">
					<p class="c-dark-taupe title-xs mt-sm mb-xs">Nos chats</p>
					<ul class="footer-nav">
						<li>
							<a href="">Chatons</a>
						</li>
						<li>
							<a href="">Minettes</a>
						</li>
						<li>
							<a href="">Minous</a>
						</li>
					</ul>
					
				</div>
				
				<div class="col-lg-3">
					<p class="c-dark-taupe title-xs mt-sm mb-xs">Nos races</p>
					<ul class="footer-nav">
						<li>
							<a href="">Le Maine Coon</a>
						</li>
						<li>
							<a href="">Le Scottish</a>
						</li>
					</ul>
				</div>

				<div class="col-lg-3">
					<p class="c-dark-taupe title-xs mt-sm mb-xs">La chatterie</p>
					<ul class="footer-nav">
						<li>
							<a href="">A propos</a>
						</li>
						<li>
							<a href="">Actualités</a>
						</li>
						<li>
							<a href="">Conditions d'adoption</a>
						</li>
						<li>
							<a href="">Partenariats</a>
						</li>
						<li>
							<a href="">Contact</a>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div class="copyright px-sm bg-taupe ta-c">
		<p class="fs-sm c-white pb-xs">Copyright sa mère</p>
	</div>
</footer>