{% extends 'layout.twig' %}

{% block content %}
    <div id="page-404">

        {#
        |
        | Section Banner
        |-----------------
        #}
        {{ global.banner({
            'title': '404 - Page not Found',
            'image': img ~ '/global/theme-lg.jpg'
        }) }}
    </div>
{% endblock %}