/*
|--------------------
|      FOOTER
|--------------------
*/

footer{
	border-top: 2px solid $dark-taupe;
	background-color: $light-taupe;
	.logo-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-nav{
		list-style-type: none;
		font-size: 14px;
		li{
			margin-bottom: 5px;
		}
	}
}

