{#
|
| Cookie Banner
|----------------
#}
<section class="cookie-banner bg-taupe c-dark-grey">
    <div class="container">
        <div class="row ai-center">
            <div class="col-sm-1 offset-sm-1 offset-lg-3 order-sm-2 ta-r">
                <button class="item-close c-dark-grey">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="col-sm-10 col-lg-8 order-sm-1">
                <div class="cms mb-sm">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum fugiat minus neque magni a rem ut, quo, veritatis repudiandae quam pariatur ab eos facere? Iste nostrum ab cumque vitae mollitia!
                </div>
                <div class="links-dark-grey">
                    <a href="#" class="item-accept mr-sm">Accepter</a>
                    <a href="#" class="item-refuse">Refuser</a>
                </div>
            </div>
        </div>
    </div>
</section>